<launch>

	<include file="$(find height_estimator)/launch/zestimator.launch"/>
	<include file="$(find aruco_ros)/launch/usb_cam.launch"/>

	<node pkg="ros_mapping_and_planning" type="test_waypoint" name="test_waypoint" clear_params="true"/>
	<node pkg="mav_trajectory_generation_ros" type="waypoint_node" name="waypoint_node" clear_params="true" />
	<node pkg="controller" type="aruco_median_filter.py" name="aruco_median_filter" clear_params="true"/>
	<node pkg="controller" type="gripper.py" name="gripper" clear_params="true" />
	<node pkg="controller" type="vin_mission_control" name="vin_mission_control" clear_params="true" output="screen">
		<rosparam file="$(find controller)/param/vin_mission_control.yaml" />
	</node>

</launch> 
