<launch>
	<node pkg="gripper_control" type="gripper.py" name="gripper" clear_params="true" />

	<include file="$(find warehouse_quad)/launch/zestimator.launch"/>
	<include file="$(find aruco_ros)/launch/usb_cam.launch"/>
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
	<node pkg="ros_mapping_and_planning" type="test_waypoint" name="test_waypoint" clear_params="true"/>
	<node pkg="mav_trajectory_generation_ros" type="waypoint_node" name="waypoint_node" clear_params="true" />
	<node pkg="controller" type="vin_mission_control" name="vin_mission_control" clear_params="true" output="screen">
		<rosparam file="$(find controller)/param/vin_mission_control.yaml" />
	</node>


</launch> 
